@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans');

.Landing_Two {
    background-image: linear-gradient(#7751A7, #995062);
}

.Landing_Three {
  background-image: linear-gradient(#974599, #CC6953);
}

#fade-in {
    /* margin-top: 25px;
    font-size: 21px;
    text-align: center; */
  
    -webkit-animation: fadein 4s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 4s; /* Firefox < 16 */
        -ms-animation: fadein 4s; /* Internet Explorer */
         -o-animation: fadein 4s; /* Opera < 12.1 */
            animation: fadein 4s;
  }

  @keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  }
  
  /* Firefox < 16 */
  @-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  }
  
  /* Safari, Chrome and Opera > 12.1 */
  @-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  }
  
  /* Internet Explorer */
  @-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .web-logo {
    font-family: 'Poppins';
    font-size: 100px;
    padding-left: 40px;
    padding-bottom: 0px;
    margin: 0px 40px 10px 15px;
    cursor: pointer;
  }

  .Landing_Two-header {
    /* background-image: linear-gradient(#78A2AB, #1B6C99); */
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* align-items: center; */
    /* justify-content: center; */
    /* font-size: calc(10px + 2vmin); */
    color: white;
  }
  .Landing_Two-header-2 {
    /* background-image: linear-gradient(#78A2AB, #1B6C99); */
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    min-height: 33vh;
    /* align-items: center; */
    /* justify-content: center; */
    /* font-size: calc(10px + 2vmin); */
    color: white;
  }


  .twt-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 261px;
    height: 49px;
    padding-left: 5px;
    overflow: hidden;
    border-radius: 10px;
    margin-top: 12px;
    border: 0px;
    background-color: #1DA1F2;
    transition: background-color 1s ease-out 5ms;
    color: white;
    font-family: 'TwitterChirp';
}

.x-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 261px;
  height: 49px;
  padding-left: 2px;
  overflow: hidden;
  border-radius: 10px;
  margin-top: 12px;
  border: 0px;
  background-color: #999999;
  transition: background-color 1s ease-out 5ms;
  color: white;
  font-family: 'TwitterChirp';
}

.flist {
  list-style: none;
}

.twt-logo {
  width: 37px;
  height: 37px;
  margin-left: 4px;
}

.button-text {
  font-family: 'IBM Plex Sans';
  margin-right: 7px;
}

.twt-align {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.small-home-header {
  display: flex;
  font-family: 'Poppins', sans-serif;
  font-size: large;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.submit-button {
  margin-right: 19px;
  font-family: 'Poppins', sans-serif;
  font-size: 10.5px;
}

.x-submit-button {
  margin-right: 7px;
  font-family: 'Poppins', sans-serif;
  font-size: 10.5px;
}